
{#<div class="form-group" id="fos_user_registration_form">#}

<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Company Name</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}

            <div class="form-group  {% if form.email.vars.valid==false %}has-error{% endif %}">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Email'|trans } }) }}
                    </div>
                    <div class="help-block">
                    <span class="help-inline">{{ form_errors(form.email) }}</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Username</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Name'|trans } }) }}
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your Password'|trans } }) }}
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm your Password'|trans } }) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm captcha</label>
                <div class="cols-sm-10 ">
                    <div class="input-group">
                        {#<span class="input-group-addon"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></span>#}
                        {{ form_widget(form.captcha, { 'attr': {'class': 'img-responsive'} }) }}
                    </div>
                </div>
            </div>


            <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
            </div>

            {{ form_rest(form) }}

            <a id="refresh">Refresh</a>

            {# start captcha !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}

            {#{% block genemu_captcha_widget %}#}
                {#<img id="{{ id }}_image" src="{{ src }}" width="{{ width }}" height="{{ height }}" title="{{ name|trans }}" />#}
                 {#We're putting a link there #}
                {#<a id="{{ id }}_refresh">Refresh</a>#}
                {#{{ block("form_widget_simple") }}#}
            {#{% endblock %}#}

            {#{% block genemu_captcha_javascript %}#}
                {#<script type="text/javascript">#}
                    {#$(function () {#}
                         {#Image will be refreshed when the link is clicked#}
                        {#$('#refresh').click(function() {#}
                            {#$('#{{ id }}_image').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());#}
                        {#});#}
                    {#});#}
                {#</script>#}

                {#{{ parent() }}#}
            {#{% endblock %}#}

            {#end captcha !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}

            {{ form_end(form) }}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
<script>

    $(document).ready(function(){

        $('#refresh').click(function() {
            $('#fos_user_registration_form_captcha').parent().find('img').attr('src', '{{ path('genemu_captcha_refresh') }}?' + Math.random());
        });

        $('#fos_user_registration_form_captcha').parent().find('img').addClass('img-rounded').css({"margin-bottom": "8px","border": "1px solid red"});
    });
</script>

