{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adressetypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresseType in adresseTypes %}
            <tr>
                <td><a href="{{ path('adressetype_show', { 'id': adresseType.id }) }}">{{ adresseType.id }}</a></td>
                <td>{{ adresseType.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adressetype_show', { 'id': adresseType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adressetype_edit', { 'id': adresseType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adressetype_new') }}">Create a new adresseType</a>
        </li>
    </ul>
{% endblock %}
